* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #797777;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

